@blueGreen: #008cba;
@grey: #999;

html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans;
  color: @grey;
}

p, dl {
  font-size: 12px;
}

h4 {
  font-weight: 300;
  font-size: 19px;
  small {
    font-weight: normal;
    font-size: 70%;
  }
}

small {
  color: @grey;
}

a {
  outline: none;
  color: @blueGreen;
  &:focus {
    outline: none;
    color: @blueGreen;
  }
}

.text-center {
  text-align: center;
}

.no-bg {
  background-color: transparent;
}

.spacer {
  margin-top: 1.5em;
  &.large {
    margin-top: 2.5em;
  }
  &.xlarge {
    margin-top: 3.5em;
  }
}

.no-padding {
  padding: 0;
}

.md-input-wrapper {
  .md-button {
    font-size: 1.5em;
    &.md-icon-button {
      margin: 10px 0px;
    }
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

dl {
  font-weight: 400;
  &.horizontal {
    margin: 25px 0;
    color: #222222;
    dt {
      float: left;
      width: 160px;
      clear: left;
      text-align: right;
      .truncate;
    }
    dd {
      margin-left: 180px;
      font-weight: 300;
    }
  }
}

#results-container {
  >.md-whiteframe-1dp, #header {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  md-list-item {
    .left-grid {
      h4 {
        .truncate;
        * {
          margin-right: 5px;
        }
      }
    }
  }
}

#outer-container {
  padding-left: 100px;
}

.responsive-dl(@width, @margin) {
  dt {
    width: @width;
  }
  dd {
    margin-left: @margin;
  }
}

@media screen and (max-width: 599px) {
  #results-container md-list-item {
    height: 120px;
  }
  dl.horizontal {
    margin: 0;
    .responsive-dl(90px, 100px);
    dt {
      text-align: left;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 683px) {
  dl.horizontal {
    .responsive-dl(110px, 120px);
  }
}

@media screen and (max-width: 959px) {
  #outer-container {
    padding-left: 8px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1100px) {
  dl.horizontal {
    .responsive-dl(110px, 120px);
  }
}
