md-whiteframe.md-default-theme.md-whiteframe-2dp(layout="column")
  md-toolbar(layout)
    .md-toolbar-tools(layout-align="center center")
      span GITHUB REPOS

#outer-container.md-padding

              
  